.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.heading{
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.active{
  background-color: orange;
}
.navBar{
  background-color: rgb(60, 58, 58);
}
a{
  color: beige;
}
.fa-university{
  color: orange;
}
.imgAboutDiv{
  height:300px;
  width:100%;
} 

p{
  text-align: justify;
}
.imgAbout{
  width: 100%;
  height: 300px;
}
.regLabels{
  font-weight: bold;
}

.btn{
  background-color: orange;
  border-radius: 20px;
  border-color: orange;
}

.search_a{
  color: blue;
}

